# Manual backport of:
# https://github.com/systemd/systemd/commit/32e868f058da8b90add00b2958c516241c532b70
# Can drop once we get to RHEL 8.6:
# https://bugzilla.redhat.com/show_bug.cgi?id=1991834
SUBSYSTEM=="ptp", ATTR{clock_name}=="hyperv", SYMLINK += "ptp_hyperv"
