[Unit]
Description=Workaround dracut FIPS unmounting /boot
DefaultDependencies=false
ConditionKernelCommandLine=ignition.firstboot
ConditionKernelCommandLine=fips=1
ConditionPathExists=/run/ostree-live
# Work around the lack of https://github.com/dracutdevs/dracut/commit/ab26ad2c2ab4a5884e392951998d40829f130387 in RHEL 9.2
# We're going to undo the damage it did.
After=dracut-pre-pivot.service
# We need to run before this though which starts the switchroot process.
Before=initrd-cleanup.service

# See comment about this in ignition-complete.target.
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
RemainAfterExit=yes
# We operate in the target root, before switching
WorkingDirectory=/sysroot
ExecStart=/bin/bash -c 'if ! findmnt boot &>/dev/null; then mount --bind sysroot/boot boot; echo enabled dracut fips workaround; fi'

# No install section, this is only pulled in by rhcos-fips-finish.service
