# Note this service duplicates the FCOS growpart which is
# done in the initramfs; it will likely go away once
# we rework to use Ignition LUKS.  See
# https://github.com/coreos/fedora-coreos-config/pull/503#discussion_r449240871
[Unit]
Description=Resize root partition
ConditionPathExists=!/run/ostree-live
ConditionPathExists=!/var/lib/coreos-growpart.stamp

Conflicts=coreos-growpart.service

# Wait for networking since the device may be encrypted for
# NBDE via Clevis/Tang.
After=network-online.target
Wants=network-online.target

# List a couple of space-hungry services we want to make sure we run *before*.
# This is a hack; in the future we'll just resize in the initramfs like on FCOS.

Before=machine-config-daemon-firstboot.service
# This shouldn't be enabled in the future, though for now, make sure we run before it. See:
# https://github.com/openshift/machine-config-operator/pull/1366
# Also https://github.com/openshift/machine-config-operator/pull/1766
Before=machine-config-daemon-host.service
# XXX: do we actually need this? cargo-culted from 9e2d724
Before=sshd.service

# Also need this for newer ostree with read-only sysroot;
# see https://github.com/ostreedev/ostree/pull/2113
After=ostree-remount.service

[Service]
Type=oneshot
ExecStart=/usr/libexec/rhcos-growpart /
RemainAfterExit=yes
# So we can remount /sysroot writable
MountFlags=slave

[Install]
WantedBy=multi-user.target
