[Unit]
Description=CoreOS LUKS Opener

# Don't run this on systems upgraded from 4.2 or below.
# See also https://github.com/coreos/fedora-coreos-config/blob/832ed20b86272f26f6ec4450b3b839fb60d9e822/overlay.d/05core/usr/lib/dracut/modules.d/40ignition-ostree/ignition-ostree-mount-subsequent-sysroot.service#L7
ConditionKernelCommandLine=!root
ConditionPathExists=/etc/initrd-release

# We only open after encryption
After=coreos-encrypt.service

# Also run after the disks stage, which might play around with the partition
# table, udev, etc..
After=ignition-disks.service

# Need to open device before we can restamp it
Before=ignition-ostree-uuid-root.service

# This is our luks root label
Requires=dev-disk-by\x2dlabel-crypt_rootfs.device
After=dev-disk-by\x2dlabel-crypt_rootfs.device

# Run before locating the root device.
Before=ignition-ostree-mount-firstboot-sysroot.service
Before=ignition-ostree-mount-subsequent-sysroot.service

# Fail the boot if the disk opening fails.
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
ExecStart=/usr/libexec/coreos-cryptfs open
RemainAfterExit=yes
