[Unit]
Description=CoreOS Firstboot encryption of root device
DefaultDependencies=false

# We need to fetch Ingition first
After=ignition-fetch.service

# Also run after the disks stage, which might play around with the partition
# table, udev, etc..
After=ignition-disks.service

# Enforce FIPS before, otherwise the crypto will not be FIPS compliant.
After=rhcos-fips.service
Requires=rhcos-fips.service

# Execute before the FIPS finish.
Before=rhcos-fips-finish.service

# Run only on first boot and conflict with N boot.
Before=ignition-ostree-mount-firstboot-sysroot.service
Conflicts=ignition-ostree-mount-subsequent-sysroot.service

# Make sure if ExecStart= fails, the boot fails
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
TimeoutSec=1800
EnvironmentFile=/run/ignition.env
ExecStartPre=/bin/mkdir -p /run/coreos
ExecStart=/usr/libexec/coreos-cryptfs encrypt
# If changing this, please also change coreos-fde-check-needsnet.service
TemporaryFileSystem=/run/coreos-cryptfs-tmp /usr/lib/ignition
RemainAfterExit=yes
