# Backported from Fedora for https://bugzilla.redhat.com/show_bug.cgi?id=1780079
[Unit]
Description=Rotate log files
Documentation=man:logrotate(8) man:logrotate.conf(5)
RequiresMountsFor=/var/log
ConditionACPower=true

[Service]
Type=oneshot
ExecStart=/usr/sbin/logrotate /etc/logrotate.conf

# performance options
Nice=19
IOSchedulingClass=best-effort
IOSchedulingPriority=7

# hardening options; trimmed to be sure this works on RHEL8
PrivateDevices=true
PrivateTmp=true
ProtectSystem=full
RestrictNamespaces=true
RestrictRealtime=true
